.App {
    text-align: center;
    font-family: monospace;

    
    h1 {
        width: 100vw;
        font-size: 22px;
        color: purple;
    }

    .GameBoard {
        margin: auto;
        background: #c2c2c2;
        width: 400px;
    }

}